/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f7f7f7;
    color: #555;
    font-family: 'Lato', 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

.row {
    max-width: 1140px;
    margin : 0 auto;   
}

/* ------heading----- */

h1,h2,h3 {
    margin: 0;
    font-weight: 300; /* headers have usally more default weight */
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 145%;
}

h1 {
    font-size: 240%;
    word-spacing: 10px;  
}

h2 {
    font-size: 180%;
    word-spacing: 1px;
}

h3 {
    font-size: 110%;
    word-spacing: 1px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    display: block;
    color : #f39c12;
    font-size: 350%;
    text-align: center;
    padding: 20px;
}

/* ------ buttons ----- */
.btn:link, 
.btn:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #f39c12;
    background-color: #f39c12;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
   border : 1px solid #f39c12;
   color: #f39c12;
}

.btn:hover, 
.btn:active {
    background-color: #d8890b;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #f39c12;
    color: #fff;
}   

.list-inline > li {
    display: inline-block;
    list-style: none;
}

/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

.hero-text {
    color: #fff;
}

header {
    background-image: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0,0.8)) , url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
}

nav {
   padding-top: 20px; 
}

.navbar-brand {
    float: left;
}

.navbar-list {
    float : right;
    list-style: none;
    margin-top: 30px; 
}

.navbar-list a:link,
.navbar-list a:visited {
    border-bottom : 2px transparent #f39c12;
    color: #fff;
    text-decoration: none;
    margin-left : 15px;
    font-size: 110%;
}

.navbar-list a:hover,
.navbar-list a:active {
    border-bottom: 2px solid #f39c12;
    padding-bottom: 5px;
    border-radius: 5px;   
}

/* ---------------------------------------------------- */
/* FEATURE SECTION */
/* ---------------------------------------------------- */
.feature-head {
    text-align: center;
}

.feature-head > h2 {
    text-transform: uppercase;
}

.feature-head > h2:after {
    width : 20%;
    margin: 20px auto;
    display: block;
    content: "";
    height: 2px;
    background-color: #f39c12;
}

.box {
    padding: 10px 10px;
    text-align: justify;
}

#feature-title {
    width : 75%;
    margin : 0 auto;
}

/* ---------------------------------------------------- */
/* MEALS SECTION */
/* ---------------------------------------------------- */


.meals-showcase {
    width: 100%; 
}

.meals-showcase  li {
    width: 25%;
    float: left;
}

.meal-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-pic img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-pic img:hover {
    opacity: 1;
    transform: scale(1.07);
}

