/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f7f7f7;
    color: #555;
    font-family: 'Lato', 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* clearfix is applied to parent of floating child element clear floats after the last child */
.clearfix {zoom: 1;}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

.row {
    max-width: 1140px;
    margin : 0 auto;   
}

/* ------heading----- */

h1,h2,h3 {
    margin: 0;
    font-weight: 300; /* headers have usally more default weight */
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 145%;
}

h1 {
    font-size: 240%;
    word-spacing: 10px;  
}

h2 {
    font-size: 180%;
    word-spacing: 1px;
}

h3 {
    font-size: 110%;
    word-spacing: 1px;
}

section {
    margin-bottom: 60px;
}

p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    display: block;
    color : #f39c12;
    font-size: 350%;
    text-align: center;
    padding: 20px;
}

/* ------ buttons ----- */
input[type="submit"],
.btn:link, 
.btn:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}

input[type="submit"],
.btn-full:link,
.btn-full:visited {
    border: 1px solid #f39c12;
    background-color: #f39c12;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
   border : 1px solid #f39c12;
   color: #f39c12;
}

input[type="submit"]:hover,
.btn:hover, 
.btn:active {
    background-color: #d8890b;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #f39c12;
    color: #fff;
}   

.list-inline > li {
    display: inline-block;
    list-style: none;
}

.section-title {
    text-transform: uppercase;
}

.section-title:after {
    width : 20%;
    margin: 20px auto;
    display: block;
    content: "";
    height: 2px;
    background-color: #f39c12;
}

.text-center {
    text-align: center;
}

/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

.hero-text {
    color: #fff;
}

header {
    background-image: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0,0.8)) , url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 60px;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
}

nav {
   padding-top: 20px; 
}

.navbar-brand {
    float: left;
}

.navbar-list {
    float : right;
    list-style: none;
    margin-top: 30px; 
}

.navbar-list a:link,
.navbar-list a:visited {
    border-bottom : 2px transparent #f39c12;
    color: #fff;
    text-decoration: none;
    margin-left : 15px;
    font-size: 110%;
}

.navbar-list a:hover,
.navbar-list a:active {
    border-bottom: 2px solid #f39c12;
    padding-bottom: 5px;
    border-radius: 5px;   
}

/* ---------------------------------------------------- */
/* FEATURE SECTION */
/* ---------------------------------------------------- */

.box {
    padding: 10px 10px;
    text-align: justify;
}

.title-desc {
    width : 75%;
    margin : 0 auto;
}

/* ---------------------------------------------------- */
/* MEALS SECTION */
/* ---------------------------------------------------- */


.meals-showcase {
    width: 100%; 
}

.meals-showcase  li {
    width: 25%;
    float: left;
}

.meal-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-pic img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-pic img:hover {
    opacity: 1;
    transform: scale(1.07);
}

/* ---------------------------------------------------- */
/* HOW-IT-WORKS SECTION */
/* ---------------------------------------------------- */

.step-box {
    margin-top: 30px;
}

.step-box:first-child {
    margin-top: 30px;
    text-align: right;
    padding-right: 5%;
}

.step-box:last-child {
    margin-top : 50px;
}

.app-screen {
    width: 40%;
}

.work-step {
    margin-bottom: 40px;
    font-size: 120%;
}

.work-step div {
    text-align: center;
    width: 50px;
    height: 50px;
    float : left;
    margin-right: 20px;
    padding: 10px;
    border : 2px solid #f39c12;
    border-radius: 50%;
}

.app-button {
    display: inline-block;
    margin-top: 30px;
}

.app-button img {
    height: 50px;
    width: auto;
}

/* ---------------------------------------------------- */
/* CITIES SECTION */
/* ---------------------------------------------------- */

.cities-section {
    background-color: #fff;
    padding-top : 30px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}

.image-thumbnail {
    width : 100%;
}

.city-desc {
    width: 100%;
}
.city-desc ul {
    list-style: none;
}

.city-desc h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.city-desc li {
    margin-top: 10px;
}

.city-desc li:last-of-type {
    padding-bottom: 15px;
}

.icon-small {
    font-size: 150%;
    margin-right: 10px;
    color: #f39c12;
}

.city-desc a:link,
.city-desc a:visited {
    color: #f39c12;
}

/* ---------------------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------------------- */

.section-testimonial {
    background-image:linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0;
    color: #fff;
}

blockquote {
    padding-left: 10px;
    padding-bottom: 20px;
    display: block;
    font-style: italic;
    line-height: 150%;
}

cite {
    display: block;
    padding : 10px;
    font-size: 90%;
}

blockquote:before {
    content: "\201C";
    font-size: 300%;
}

cite img {
    border-radius: 50%;
    width : 15%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ---------------------------------------------------- */
/* SIGNUP AND PRICING PLANS */
/* ---------------------------------------------------- */

.section-signup {
    padding-bottom: 30px;
}

.plan-well {
    display: block;
    width: 90%;
    background-color: #fff;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 2px #bbb;
}

.plan-well h3 {
    text-transform: uppercase;
}

.plan-well div {
    border-bottom: 1px solid #bbb;
    padding: 20px 10px;
}

.plan-well div:first-child {
    background-color: #fefbf4;
}

.plan-well div:last-child {
    text-align: center;
    border-bottom: none;
}

.plan-desc ul {
    list-style: none;
}

.plan-price {
    font-size: 300%;
    font-weight: 200;
    color: #f39c12;
}

.plan-price span {
    font-size: 40%;
}


/* ---------------------------------------------------- */
/* CONTACT US */
/* ---------------------------------------------------- */

.section-contact-us {
    padding: 30px 0;
    background-color: #fff;
}

.contact-form {
    margin: 0 auto;
    width: 60%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    font-weight: 80;
    font-size: 90%;
}   

input[type=text],
input[type=email],
select,
textarea {
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
}

textarea {
    height: 100px;
}

input:placeholder {
    margin: 10px;
}

*:focus { outline: none;}